/* Reset */
body {
  margin: 0;
  font-family: monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #FFF1E6;
}

* {
  box-sizing: border-box;
}

.text-comfy {
  font-family: "Playwrite IT Moderna", cursive;
}

.text-mono {
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wdth" 100;
}

p a {
  text-decoration: underline;
}

p a:hover {
  font-weight: bold;
}

/* Page Transition Animation */
#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
body.page-is-transitioning #page-content {
  opacity: 0;
}
